* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    color: #fff;
}

.container {
    width: 100%;
    height: auto;
    background-color: #333333;
}

/* header 작업 */
/* 07.20 header 구성 및 디자인 수정자 박효근 */
/* 07.21 header로고 ,navbar dropdown  구성 및 디자인 수정자 박효근 */
/* 07.22 header HOME 링크연결 , header 이미지 크기 및 이미지 수정  수정자 박효근 */
.header{
    width: 100%;
    height: auto;
}
.navbar {
    width: 100%;
    height: 10%;
    background-color: #333333;
}
.navbar_logo {
    width: 25%;
    height: 100%;
    float: left;
}
.navbar_logo>a>h1{
    margin: 10px;
    color: #FFF;
}
.navbar_logo>a>h1>span{
    display: inline-block;
    width: 73px;
    height: 50%;
    background-color: orange;
    color: black;
}

.navbar_menu {
    width: 60%;
    height: 100%;
    float: left;
}
.menu1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    line-height: 60px;
    position: relative;
}
.menu1 > li:hover,
#menu_li_a:hover {
    color: #B388FF;
}
#menu_li_a{
    text-decoration: none;
    color: #FFF;
}
.menu1 > li:hover ~ .navbar_menu_drop,
.navbar_menu_drop:hover{
    height: 500px;
}
.navbar_menu .menu1>li {
    display: inline-block;
    width: 25%;
    height: 100%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    vertical-align: text-top;
    list-style-type: none;
    transition: 0.3s;
}
.navbar_menu_drop{
    background-color: #E0E0E0;
    width: 100%;
    height: 0;
    position: absolute;
    top: 63px;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.drop_menu{
    color: #333333;
    cursor: pointer;
    list-style-type: none;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop_menu>li{
    transition: 0.5s;
}
.drop_menu>li:hover {
    color: #B388FF;
}
.navbar_Icons {
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}
.navbar_Icons_a{
    margin: 0 6px;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #FFF;
}
.navbar_Icons_a:hover >i,
.navbar_Icons_a:hover >p{
    color: #B388FF;
}
.navbar_Icons_box:hover > i,
.navbar_Icons_box:hover > p{
    color: #B388FF;
}
.navbar_Icons_a > p{
    color: #FFF;
    font-size: 0.7rem;
    transition: 0.3s;
}
.navbar_Icons_a >.uil {
    font-size: 1.7rem;
    margin-top: 3px;
    cursor: pointer;
}
.header_img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.header_img_box {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: #333333;
    margin: 20px 0;
}
.header_img>.header_img_box> img {
    width: 100%;
    height: 100%;
}
/* header 작업 */


.main {
    width: 100%;
    height: 2000px;
    background-color: #fff;
    position: relative;
}

.signIn_form {
    width: 30%;
    height: 1200px;
    background-color: #fff;
    color: black;
    position: absolute;
    left: 35%;
    top: 10%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signIn_form>input[type=text] {
    width: 400px;
    height: 40px;
    margin: 10px;
    outline: none;
}

.singIn_Gender>input[type=radio] {
    display: none;
}
.singIn_Gender > label {
    border: 1px solid lightgray;
    font-size: 1rem;
    width: 194px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}

.xi-check{
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
}

/* 이용 약관 */
.provision {
    width: 400px;
    height: 200px;
    overflow: auto;
    font-size: 1rem;
    border: 1px solid lightgray;
    text-align: justify;
}
/* 이용약관,개인정보 글자 강조*/
.provis_text {
    font-size: 1.1rem;
    font-weight: bolder;
}
/* 개인정보 약관 */
.personal_information{
    width: 400px;
    height: 200px;
    overflow: auto;
    font-size: 1rem;
    border: 1px solid lightgray;
    text-align: justify;
}
/* 체크버튼 스타일*/
.check{
    font-size: 1.2rem;
    margin: 10px;
}
.SignIn_Btn{
    width: 300px;
    height: 60px;
    background-color: #fff;
    border: 1px solid lightgray;
    font-size: 1.2rem;
    cursor: pointer;
}
@media screen and (max-width:1500px){
    .signIn_form{
        width: 400px;
    }
}

/* footer 0719 19:57 수정자:김형준 */
.footer{
    width: 100%;
    height: 240px;
    color: #E0E0E0;
    border-top: #E0E0E0 2px solid;
}

.footer_info{
    width: 100%;
    height: 80%;
}

.footer_info_nav{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.footer_info_nav_list{
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_info_nav_list>li{
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.footer_info_nav_list>li:hover{
    color:#B388FF;
}

.footer_info_intro{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.footer_info_intro_detail{
    width: 70%;
    height: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_info_intro_detail>p{
    margin:8px 0;
}

.footer_info_intro_sns{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.9rem;
}

.footer_info_intro_sns>i{
    margin:11px 0;
    transition: all 0.3s;
    cursor: pointer;
}

.footer_info_intro_sns>i:hover{
    color: #B388FF;
}

.footer_copy{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

