
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    color: #FFF;
}

.container{
    width: 100%;
    height: auto;
    background-color: #333333;
}

.header{
    width: 100%;
    height: 600px;
}

.main{
    width: 100%;
    height: 2160px;
}

.side{
    width: 15%;
    height: 100%;
    float: left;
    background-color: white;
}

.section1{
    width: 85%;
    height: 50%;
    float: left;
    background-color: white;
   

   
}
.section1>.section1-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
   
}
.section1>.section1-top>.section1-top-imgbox{
    /* border: 1px solid black; */
    width: 400px;
    height: 450px;
    display: flex;
   flex-direction: column;  
   
}
.section1-top-imgbox-img{
    width: 395px;
    height: 410px;
    border-radius: 10px;


}
.section1-top-imgbox_font{
    display: flex;
    flex-direction: column;
   line-height: 30px;
   font-size: 1.0rem;
   margin-top: 5px;
   position: relative;
  
}
.section1-top-imgbox_font>.section1-top-imgbox_font_box{
    position: absolute;
    top: -140px;

}

.section1-top-imgbox_font>.section1-top-imgbox_font_box>span:nth-child(1){
    font-size: 1.3rem;
    color: black;

}
/* 머니의 플로트를 삭제 7/20 */
.section1-top-imgbox_font_money{  
    color: black;
    padding-right: 10px;
    font-size: 1.2rem;
    

}
.section1-top-imgbox_font_icon:nth-child(n){
color: yellow;
   
}

.section1-top-imgbox_font_hashtag{
  display: flex;
  flex-direction: row;
}
.section1-top-imgbox_font_hashtag>.section1-top-imgbox_font_hashtag_menu:nth-child(n){
  
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(248, 237, 237);
    color: black;
    font-size: 0.8rem;
  
}

.section1-top-imgbox_font_icon_count{
    color: black;
}
.section1-top-imgbox-hover_select{
    display: flex;
    flex-direction: row;
    /* margin-top: 2px; */
   
}
.section1-top-imgbox-hover_select>.section1-top-imgbox-hover_select_color:nth-child(n){
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 3px; */

}
.section1-top-imgbox-hover_select>.section1-top-imgbox-hover_select_color:nth-child(1){
   
    background-color: black;
   
    /* box-shadow: 0px 0px 3px 2px rgb(199, 196, 196); */
  
    
}
.section1-top-imgbox-hover_select>.section1-top-imgbox-hover_select_color:nth-child(2){
   
    background-color:mediumpurple ;
  
   
    
}
.section1-top-imgbox-hover_select>.section1-top-imgbox-hover_select_color:nth-child(3){
    
    background-color: pink;
   
  
    
}
.section1-top-imgbox-hover_select>.section1-top-imgbox-hover_select_color:nth-child(4){
  
    background-color: white;
  
    
}
/* section1 아래부분 시작 */

.section1>.section1-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
   
}
.section1>.section1-bottom>.section1-bottom-imgbox{
    /* border: 1px solid black; */
    width: 400px;
    height: 450px;
    display: flex;
   flex-direction: column;  
   
}
.section1-bottom-imgbox-img{
    width: 395px;
    height: 410px;
    border-radius: 10px;


}
.section1-bottom-imgbox_font{
    display: flex;
    flex-direction: column;
   line-height: 30px;
   font-size: 1.0rem;
   margin-top: 5px;
   position: relative;
  
}
.section1-bottom-imgbox_font>.section1-bottom-imgbox_font_box{
    position: absolute;
    top: -140px;

}

.section1-bottom-imgbox_font>.section1-bottom-imgbox_font_box>span:nth-child(1){
    font-size: 1.3rem;
    color: black;

}
/* 머니의 플로트를 삭제 7/20 */
.section1-bottom-imgbox_font_money{  
    color: black;
    padding-right: 10px;
    font-size: 1.2rem;
    

}
.section1-bottom-imgbox_font_icon:nth-child(n){
color: yellow;
   
}

.section1-bottom-imgbox_font_hashtag{
  display: flex;
  flex-direction: row;
}
.section1-bottom-imgbox_font_hashtag>.section1-bottom-imgbox_font_hashtag_menu:nth-child(n){
  
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(248, 237, 237);
    color: black;
    font-size: 0.8rem;
  
}

.section1-bottom-imgbox_font_icon_count{
    color: black;
}
.section1-bottom-imgbox-hover_select{
    display: flex;
    flex-direction: row;
    /* margin-top: 2px; */
   
}
.section1-bottom-imgbox-hover_select>.section1-bottom-imgbox-hover_select_color:nth-child(n){
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 3px; */

}
.section1-bottom-imgbox-hover_select>.section1-bottom-imgbox-hover_select_color:nth-child(1){
   
    background-color: black;
   
    /* box-shadow: 0px 0px 3px 2px rgb(199, 196, 196); */
  
    
}
.section1-bottom-imgbox-hover_select>.section1-bottom-imgbox-hover_select_color:nth-child(2){
   
    background-color:mediumpurple ;
  
   
    
}
.section1-bottom-imgbox-hover_select>.section1-bottom-imgbox-hover_select_color:nth-child(3){
    
    background-color: pink;
   
  
    
}
.section1-bottom-imgbox-hover_select>.section1-bottom-imgbox-hover_select_color:nth-child(4){
  
    background-color: white;
  
    
}
.section2{
    width: 85%;
    height: 50%;
    float: left;
    background-color: white;
   

   
}
.section2>.section2-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
   
}
.section2>.section2-top>.section2-top-imgbox{
    /* border: 1px solid black; */
    width: 400px;
    height: 450px;
    display: flex;
   flex-direction: column;  
   
}
.section2-top-imgbox-img{
    width: 395px;
    height: 410px;
    border-radius: 10px;


}
.section2-top-imgbox_font{
    display: flex;
    flex-direction: column;
   line-height: 30px;
   font-size: 1.0rem;
   margin-top: 5px;
   position: relative;
  
}
.section2-top-imgbox_font>.section2-top-imgbox_font_box{
    position: absolute;
    top: -140px;

}

.section2-top-imgbox_font>.section2-top-imgbox_font_box>span:nth-child(1){
    font-size: 1.3rem;
    color: black;

}
/* 머니의 플로트를 삭제 7/20 */
.section2-top-imgbox_font_money{  
    color: black;
    padding-right: 10px;
    font-size: 1.2rem;
    

}
.section2-top-imgbox_font_icon:nth-child(n){
color: yellow;
   
}

.section2-top-imgbox_font_hashtag{
  display: flex;
  flex-direction: row;
}
.section2-top-imgbox_font_hashtag>.section2-top-imgbox_font_hashtag_menu:nth-child(n){
  
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(248, 237, 237);
    color: black;
    font-size: 0.8rem;
  
}

.section2-top-imgbox_font_icon_count{
    color: black;
}
.section2-top-imgbox-hover_select{
    display: flex;
    flex-direction: row;
    /* margin-top: 2px; */
   
}
.section2-top-imgbox-hover_select>.section2-top-imgbox-hover_select_color:nth-child(n){
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 3px; */

}
.section2-top-imgbox-hover_select>.section2-top-imgbox-hover_select_color:nth-child(1){
   
    background-color: black;
   
    /* box-shadow: 0px 0px 3px 2px rgb(199, 196, 196); */
  
    
}
.section2-top-imgbox-hover_select>.section2-top-imgbox-hover_select_color:nth-child(2){
   
    background-color:mediumpurple ;
  
   
    
}
.section2-top-imgbox-hover_select>.section2-top-imgbox-hover_select_color:nth-child(3){
    
    background-color: pink;
   
  
    
}
.section2-top-imgbox-hover_select>.section2-top-imgbox-hover_select_color:nth-child(4){
  
    background-color: white;
  
    
}
/* section1 아래부분 시작 */

.section2>.section2-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
   
}
.section2>.section2-bottom>.section2-bottom-imgbox{
    width: 400px;
    height: 450px;
    display: flex;
   flex-direction: column;  
   
}
.section2-bottom-imgbox-img{
    width: 395px;
    height: 410px;
    border-radius: 10px;


}
.section2-bottom-imgbox_font{
    display: flex;
    flex-direction: column;
   line-height: 30px;
   font-size: 1.0rem;
   margin-top: 5px;
   position: relative;
   ㅇㅇ햣 
  
}
.section2-bottom-imgbox_font>.section2-bottom-imgbox_font_box{
    position: absolute;
    top: -140px;

}

.section2-bottom-imgbox_font>.section2-bottom-imgbox_font_box>span:nth-child(1){
    font-size: 1.3rem;
    color: black;

}
/* 머니의 플로트를 삭제 7/20 */
.section2-bottom-imgbox_font_money{  
    color: black;
    padding-right: 10px;
    font-size: 1.2rem;
    

}
.section2-bottom-imgbox_font_icon:nth-child(n){
color: yellow;
   
}

.section2-bottom-imgbox_font_hashtag{
  display: flex;
  flex-direction: row;
}
.section2-bottom-imgbox_font_hashtag>.section2-bottom-imgbox_font_hashtag_menu:nth-child(n){
  
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(248, 237, 237);
    color: black;
    font-size: 0.8rem;
  
}

.section2-bottom-imgbox_font_icon_count{
    color: black;
}
.section2-bottom-imgbox-hover_select{
    display: flex;
    flex-direction: row;
    /* margin-top: 2px; */
   
}
.section2-bottom-imgbox-hover_select>.section2-bottom-imgbox-hover_select_color:nth-child(n){
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 3px; */

}
.section2-bottom-imgbox-hover_select>.section2-bottom-imgbox-hover_select_color:nth-child(1){
   
    background-color: black;
   
    /* box-shadow: 0px 0px 3px 2px rgb(199, 196, 196); */
  
    
}
.section2-bottom-imgbox-hover_select>.section2-bottom-imgbox-hover_select_color:nth-child(2){
   
    background-color:mediumpurple ;
  
   
    
}
.section2-bottom-imgbox-hover_select>.section2-bottom-imgbox-hover_select_color:nth-child(3){
    
    background-color: pink;
   
  
    
}
.section2-bottom-imgbox-hover_select>.section2-bottom-imgbox-hover_select_color:nth-child(4){
  
    background-color: white;
  
    
}

/* /content-area */
/* 0720 content_area 영역 생성 및 설정 수정자 : 김형준*/
.content_area1{
    clear: both;
    width: 100%;
    height: auto;
    border-top: #E0E0E0 2px solid;
}

.content_area1_header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.content_area1_hashtag{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #E0E0E0;
    margin-bottom: 8px;
}

.content_area1_hashtag>p{
    margin: 50px 20px;
}

.content_area1_imgBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.content_area1_imgBox>img{
    width: 400px;
    height: 400px;
    margin: 5px;
    transition: all 0.3s;
}

.content_area1_imgBox>img:hover{
    opacity: 0.5;
}

.content_area2{
    width: 100%;
    height: auto;
    border-top: #E0E0E0 2px solid;
}

.content_area2_header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.content_area2_imgBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content_area2_img{
    width: 550px;
    height: 550px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_area2_img>img{
    width: 500px;
    height: 500px;
    transition: all 0.3s;
}

.content_area2_img>img:hover{
    opacity: 0.5;
}

.content_area2_img>p{
    font-size: 1.2rem;
    font-weight: bold;
    margin :35px 0;
}

.content_area3{
    width: 100%;
    height: 750px;
    border-top: #E0E0E0 2px solid;
}
/*  */

/* footer 0719 19:57 수정자:김형준 */
.footer{
    width: 100%;
    height: 240px;
    color: #E0E0E0;
    border-top: #E0E0E0 2px solid;
}

.footer_info{
    width: 100%;
    height: 80%;
}

.footer_info_nav{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.footer_info_nav_list{
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_info_nav_list>li{
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.footer_info_nav_list>li:hover{
    color:#B388FF;
}

.footer_info_intro{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.footer_info_intro_detail{
    width: 70%;
    height: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_info_intro_detail>p{
    margin:8px 0;
}

.footer_info_intro_sns{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.9rem;
}

.footer_info_intro_sns>i{
    margin:11px 0;
    transition: all 0.3s;
    cursor: pointer;
}

.footer_info_intro_sns>i:hover{
    color: #B388FF;
}

.footer_copy{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}


