
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100vw;
    color: #FFF;
}

.container{
    width: 100%;
    height: auto;
    background-color: #333333;
}

/* header 작업 */
/* 07.20 header 구성 및 디자인 수정자 박효근 */
/* 07.21 header로고 ,navbar dropdown  구성 및 디자인 수정자 박효근 */
/* 07.22 header HOME 링크연결 , header 이미지 크기 및 이미지 수정  수정자 박효근 */
.header{
    width: 100%;
    height: auto;
}
.navbar {
    width: 100%;
    height: 10%;
    background-color: #333333;
}
.navbar_logo {
    width: 25%;
    height: 100%;
    float: left;
}
.navbar_logo>h1{
    margin: 10px;
}
.navbar_logo>h1>span{
    display: inline-block;
    width: 73px;
    height: 50%;
    background-color: orange;
    color: black;
}

.navbar_menu {
    width: 60%;
    height: 100%;
    float: left;
}
.menu1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    line-height: 60px;
    position: relative;
}
.menu1 > li:hover,
#menu_li_a:hover {
    color: #B388FF;
}
#menu_li_a{
    text-decoration: none;
    color: #FFF;
}
.menu1 > li:hover ~ .navbar_menu_drop,
.navbar_menu_drop:hover{
    height: 500px;
}
.navbar_menu .menu1>li {
    display: inline-block;
    width: 25%;
    height: 100%;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    vertical-align: text-top;
    list-style-type: none;
    transition: 0.3s;
}
.navbar_menu_drop{
    background-color: #E0E0E0;
    width: 100%;
    height: 0;
    position: absolute;
    top: 63px;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.drop_menu{
    color: #333333;
    cursor: pointer;
    list-style-type: none;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop_menu>li{
    transition: 0.5s;
}
.drop_menu>li:hover {
    color: #B388FF;
}
.navbar_Icons {
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}
.navbar_Icons_a{
    margin: 0 6px;
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #FFF;
}
.navbar_Icons_a:hover >i,
.navbar_Icons_a:hover >p{
    color: #B388FF;
}
.navbar_Icons_box:hover > i,
.navbar_Icons_box:hover > p{
    color: #B388FF;
}
.navbar_Icons_a > p{
    color: #FFF;
    font-size: 0.7rem;
    transition: 0.3s;
}
.navbar_Icons_a >.uil {
    font-size: 1.7rem;
    margin-top: 3px;
    cursor: pointer;
}
.header_img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.header_img_box {
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: #333333;
    margin: 20px 0;
}
.header_img>.header_img_box> img {
    width: 100%;
    height: 100%;
    /* margin-left: 100px; */
    
}

/* header 작업 */

/* side menu 작업 7월 24일 김현구*/
.side_menu{
    width: 90%;
    height: 700px;
    background-color: #fff;
    border: 2px solid #E0E0E0;
    border-radius: 20px;
    /* position: fixed; */
    padding: 20px;
    margin-left: 20px;
    color: #333333;
    font-size: 0.7rem;
}
.side_menu_top{
    border-top: 3px solid #333333;
    margin: 30px 10px;

}
.side_menu_top > h1{
    text-align: center;
}
.side_menu_top > h1 > span{
    display: inline-block;
    background-color: orange;
    color: black;
    height: 30px;
    width: 50px;
    margin-top: 20px;
}
.side_menu_middle{
    border-top: 2px solid #E0E0E0;
    margin: 30px 10px;
    text-align: center;
}
.side_menu_middle > h1:nth-child(1){
    margin: 20px 0;
    text-align: center;
}
.side_menu_middle > h1:nth-child(3){
    margin: 20px 0;
    text-align: center;
}
#male , #female{
    display: none;
}
.side_menu_gender{
    display: inline-block;
    font-size: 1.3rem;
    margin-top: 20px;
    width: 40%;
    text-align: center;
    border: 1px solid #E0E0E0;
}
.side_menu_bottom div{
    width: 100%;
    height: 60px;
    border-top: 1px solid #E0E0E0;
    margin-top: 20px;
    
}
.side_menu_bottom label h2{
    display: inline-block;
    width: 80%;
    cursor: pointer;
}
.side_menu_bottom label i{
    font-size: 1.5rem;
    cursor: pointer;
    width: 20%;
}
/* 7월 20일 23:38 정인경 */

.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

/* backgorundcolor #fff로 변경 7월 24일 김현구*/
/* boreder 구분선 삭제 */
.side{
    width: 15%;
    height: auto;
    background-color: #fff;
    
    
}

/* 정인경 : sectin1 -top */

.section{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.section1{
    width: 100%;
    height: auto;
    background-color: white;
    flex-wrap: wrap;
    padding-bottom: 36.5px;
}
.section1>h1{
    padding-left: 100px;
    padding-top: 30px;
    color: black;
    font-size: 2.5rem;
}
.section1-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    height: auto;
    flex-wrap: wrap;
}

.section1-top-imgbox{
   
    width: 400px;
    height: 450px;
    display: flex;
   flex-direction: column;  
   box-shadow: 1px 1px 1px 1px rgb(185, 184, 184);
  border-radius: 10px;
   justify-content: center;
   /* background-color:whitesmoke; */
   
}
.section1-top-imgbox-box{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgb(185, 184, 184);
}

.section1-top-imgbox-box{
    position: relative;
    
}

.section1-top-imgbox-box>img{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0px;
}
.section1-top-imgbox-box:hover .section1-top-imgbox-img{
    display: none;
}

.section1-top-imgbox_font{
    display: flex;
    flex-direction: column;
  
   font-size: 1.0rem;
   margin-top: 5px;
   position: relative;
 
  
}



.section1-top-imgbox_font_box{
    position: absolute;
    bottom: 50px;
    
    background-color: rgba(255, 255, 255, 0.497);
    width: 395px;
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
    visibility: hidden;
    color: black;
    
  
}


.section1-top-imgbox:hover .section1-top-imgbox_font_box{
    visibility: visible;
    height: 60px;
    
    
}



.section1-top-imgbox_font_box>span:nth-child(1){
    font-size: 1.3rem;
    color: black;
    text-shadow:1px 1px 3px  rgb(132, 131, 131) ;
    /* background-color: #f0ebeb; */

}

/* 머니의 플로트를 삭제 7/20 */
.section1-top-imgbox_font_money{  
    color: black;
    padding-right: 10px;
    font-size: 1.2rem;
    text-shadow:1px 1px 3px  rgb(132, 131, 131) ;
}

.section1-top-imgbox-hover{
    display: flex;
    flex-direction: column;
    
  
}
.section1-top-imgbox_icon_heart{
    
    color: rgb(230, 75, 75);
    font-size: 2.5rem;
    margin-left: 10px;
}
.shopping-bag{
    margin-bottom: 1px;
}

/* 정인경 : section1 bottom 시작 */

.section1>.section1-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    height: auto;
    flex-wrap: wrap;
   
}
.section1-bottom-imgbox{
   
    width: 400px;
    height: auto;
    display: flex;
   flex-direction: column;  
   box-shadow: 1px 1px 1px 1px rgb(185, 184, 184);
  border-radius: 10px;
   justify-content: center;
   position: relative;
   
}
.section1-bottom-imgbox>img{
    width: 400px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgb(185, 184, 184);
    position: relative;
    


}
.section1-top-imgbox:hover .section1-top-imgbox-img{
    display: none;
}

.section1-bottom-imgbox_icon{
    
    color: rgb(230, 75, 75);
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.0rem;
}
.section1-bottom-imgbox_font{
    display: flex;
    flex-direction: column;
   line-height: 30px;
   font-size: 1.0rem;
   margin-top: 5px;
   position: relative;
  
}

.section1-bottom-imgbox_font>.section1-bottom-imgbox_font_box{
    position: absolute;
    bottom: 38px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.497);
    width: 395px;
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
    visibility: hidden;
    
  
}


.section1-bottom-imgbox:hover .section1-bottom-imgbox_font_box{
    visibility: visible;
    height: 60px;
    
}



.section1-bottom-imgbox_font_box>span:nth-child(1){
    font-size: 1.3rem;
    color: black;
    text-shadow:1px 1px 3px  rgb(132, 131, 131) ;
    /* background-color: #f0ebeb; */

}

/* 머니의 플로트를 삭제 7/20 */
.section1-bottom-imgbox_font_money{  
    color: black;
    padding-right: 10px;
    font-size: 1.2rem;
    text-shadow:1px 1px 3px  rgb(132, 131, 131) ;

    

}

.section1-bottom-imgbox-hover_select{
    display: flex;
    flex-direction: row;
    /* margin-top: 2px; */
   
}
.section1-bottom-imgbox-hover_select_color:nth-child(n){
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 3px; */
}

.section1-bottom-imgbox-hover_select_color:nth-child(1){
   
    background-color: black;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
   
    /* box-shadow: 0px 0px 3px 2px rgb(199, 196, 196); */
  
    
}
.section1-bottom-imgbox-hover_select_color:nth-child(2){
   
    background-color:mediumpurple ;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
  
   
    
}
.section1-bottom-imgbox-hover_select_color:nth-child(3){
    
    background-color: pink;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
   
  
    
}
.section1-bottom-imgbox-hover_select_color:nth-child(4){
  
    background-color: white;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
  
    
}
/* 정인경 : section2 시작 */
.section2{
    width: 100%;
    background-color: white;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 36.5px;
}
.section2>h1{
    padding-left: 100px;
    padding-top: 30px;
    color: black;
    font-size: 2.5rem;
}
.section2-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    height: auto;
    flex-wrap: wrap;
   
}
.section2-top-imgbox{
   
    width: 400px;
    height: 450px;
    display: flex;
   flex-direction: column;  
   box-shadow: 1px 1px 1px 1px rgb(185, 184, 184);
  border-radius: 10px;
   justify-content: center;
   background-color:whitesmoke;
   position: relative;
   
}
.section2-top-imgbox_icon{
    
    color: rgb(230, 75, 75);
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.0rem;
}
.section2-top-imgbox-img{
    width: 400px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgb(185, 184, 184);


}
.section2-top-imgbox_font{
    display: flex;
    flex-direction: column;
  
   font-size: 1.0rem;
   margin-top: 5px;
   position: relative;
 
  
}



.section2-top-imgbox_font_box{
    position: absolute;
    bottom: 38px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.497);
    width: 395px;
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
    visibility: hidden;
    
  
}


.section2-top-imgbox:hover .section2-top-imgbox_font_box{
    visibility: visible;
    height: 60px;
    
}



.section2-top-imgbox_font_box>span:nth-child(1){
    font-size: 1.3rem;
    color: black;
    text-shadow:1px 1px 3px  rgb(132, 131, 131) ;
    /* background-color: #f0ebeb; */

}

/* 머니의 플로트를 삭제 7/20 */
.section2-top-imgbox_font_money{  
    color: black;
    padding-right: 10px;
    font-size: 1.2rem;
    text-shadow:1px 1px 3px  rgb(132, 131, 131) ;

    

}

.section2-top-imgbox-hover_select{
    display: flex;
    flex-direction: row;
    /* margin-top: 2px; */
   
}
.section2-top-imgbox-hover_select_color:nth-child(n){
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 3px; */

}
.section2-top-imgbox-hover_select_color:nth-child(1){
   
    background-color: black;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
   
    /* box-shadow: 0px 0px 3px 2px rgb(199, 196, 196); */
  
    
}
.section2-top-imgbox-hover_select_color:nth-child(2){
   
    background-color:mediumpurple ;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
  
   
    
}
.section2-top-imgbox-hover_select_color:nth-child(3){
    
    background-color: pink;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
   
  
    
}
.section2-top-imgbox-hover_select_color:nth-child(4){
  
    background-color: white;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
  
    
}
/*  정인경: sectin2-bottom 시작 */


.section2-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    height: auto;
    flex-wrap: wrap;
   
}
.section2-bottom-imgbox{
   
    width: 400px;
    height: 450px;
    display: flex;
   flex-direction: column;  
   box-shadow: 1px 1px 1px 1px rgb(185, 184, 184);
  border-radius: 10px;
   justify-content: center;
   background-color:whitesmoke;
   position: relative;
   
}
.section2-bottom-imgbox-img{
    width: 400px;
    height: 410px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgb(185, 184, 184);


}
.section2-bottom-imgbox_icon{
    
    color: rgb(230, 75, 75);
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.0rem;
}
.section2-bottom-imgbox_font{
    display: flex;
    flex-direction: column;
   line-height: 30px;
   font-size: 1.0rem;
   margin-top: 5px;
   position: relative;
  
}

.section2-bottom-imgbox_font>.section2-bottom-imgbox_font_box{
    position: absolute;
    bottom: 38px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.497);
    width: 395px;
    height: 0px;
    transition: 0.5s;
    overflow: hidden;
    visibility: hidden;
    
  
}


.section2-bottom-imgbox:hover .section2-bottom-imgbox_font_box{
    visibility: visible;
    height: 60px;
    
}



.section2-bottom-imgbox_font_box>span:nth-child(1){
    font-size: 1.3rem;
    color: black;
    text-shadow:1px 1px 3px  rgb(132, 131, 131) ;
    /* background-color: #f0ebeb; */

}

/* 머니의 플로트를 삭제 7/20 */
.section2-bottom-imgbox_font_money{  
    color: black;
    padding-right: 10px;
    font-size: 1.2rem;
    text-shadow:1px 1px 3px  rgb(132, 131, 131) ;

    

}

.section2-bottom-imgbox-hover_select{
    display: flex;
    flex-direction: row;
    /* margin-top: 2px; */
   
}
.section2-bottom-imgbox-hover_select_color:nth-child(n){
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-top: 3px; */

}
.section2-bottom-imgbox-hover_select_color:nth-child(1){
   
    background-color: black;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
   
    /* box-shadow: 0px 0px 3px 2px rgb(199, 196, 196); */
  
    
}
.section2-bottom-imgbox-hover_select_color:nth-child(2){
   
    background-color:mediumpurple ;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
  
   
    
}
.section2-bottom-imgbox-hover_select_color:nth-child(3){
    
    background-color: pink;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
   
  
    
}
.section2-bottom-imgbox-hover_select_color:nth-child(4){
  
    background-color: white;
    box-shadow: 0px 0px 3px 2px rgb(185, 184, 184);
  
    
}

/* /content-area */
/* 0721 content_area img 추가 및 효과 추가 수정자 : 김형준*/
.content_area1{
    clear: both;
    width: 100%;
    height: auto;
    border-top: #E0E0E0 2px solid;
    background-color: #FFF;
}

.content_area1_header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: #333333;
}

.content_area1_hashtag{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #E0E0E0;
    margin-bottom: 8px;
}

.content_area1_hashtag>p{
    margin: 50px 20px;
}

.content_area1_imgBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.content_area1_imgBox_img{
    width: 400px;
    height: 400px;
    margin: 5px;
    transition: all 0.3s;
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: #E0E0E0 0 0 5px 2px;
    border-radius: 2px;
}

.content_area1_imgBox_img>img{
    width: 400px;
    height: 400px;
    transition: all 0.3s;
}

.content_area1_imgBox_img>h1{
    position: absolute;
    right: 10px;
    bottom : -35px;
    transition: all 0.3s;
}

.content_area1_imgBox_img:hover > img{
    transform: scale(1.1);
}
.content_area1_imgBox_img:hover > h1{
    bottom : 10px;
}

.content_area1_imgBox>img:hover{
    opacity: 0.5;
}


/* 7월 20일 20:00 김현구*/
/* 클래스명 변경, 삭제 */
/* 콘텐츠 에어리어 백그라운드 컬러 변경 #FFF*/
/* 7월22일 */
/* 최성원 border-top 삭제 요청 김현구*/
.content_area2{
    width: 100%;
    height: 750px;
    /* border-top: #E0E0E0 2px solid; */
    background-color: #FFF;
}
.content_area2_video{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_area2_video > video{
    width: 90%;
    height: 500px;
    object-fit: fill;
}
/* 7월22일 */
/* 최성원 border-top 삭제 요청 김현구*/
.content_area3{
    width: 100%;
    height: auto;
    /* border-top: #E0E0E0 2px solid; */
    background-color: #FFF;
}
/* 7월 21일 보더 탑 삭제 폰트 컬러 변경 폰트 웨이트 변경 김현구*/
/* content_area3 img hover 효과 부여 김현구*/
/* content_area3 height:auto 변경*/
/* img hover 시 opacity 삭제*/
.content_area3_header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: #E0E0E0;
    font-weight: bolder;
}
.content_area3_header>h1{
    text-shadow: #E0E0E0 0px 0px 6px;
}

.content_area3_imgBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content_area3_img{
    width: 550px;
    height: 550px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.content_area3_caption{
    color: #E0E0E0;
    display: inline-block;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-around;
}
.content_area3_caption > div{
    width: 33.3%;
    text-align: center;
}
    

.content_area3_img>img{
    width: 500px;
    height: 500px;
    transition: all 0.3s;
    position: absolute;
}
.content_area3_img:hover .content_area3_imgHover{
    display: none;
}

.content_area3_img>p{
    font-size: 1.2rem;
    font-weight: bold;
    margin :35px 0;
}


/* footer 0719 19:57 수정자:김형준 */
.footer{
    width: 100%;
    height: 240px;
    color: #E0E0E0;
    border-top: #E0E0E0 2px solid;
}

.footer_info{
    width: 100%;
    height: 80%;
}

.footer_info_nav{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.footer_info_nav_list{
    width: 50%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_info_nav_list>li{
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.footer_info_nav_list>li:hover{
    color:#B388FF;
}

.footer_info_intro{
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

.footer_info_intro_detail{
    width: 70%;
    height: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_info_intro_detail>p{
    margin:8px 0;
}

.footer_info_intro_sns{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.9rem;
}

.footer_info_intro_sns>i{
    margin:11px 0;
    transition: all 0.3s;
    cursor: pointer;
}

.footer_info_intro_sns>i:hover{
    color: #B388FF;
}

.footer_copy{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}



